<!doctype html>
<html>
    <head>
        <title>Meeter</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='icon.jpg') }}">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="wrapper">
            <div class="content">

                <h1>
                    Your matches: {{test}} {{test2}}
                </h1>

                <div class="matches">
                    <p class="match">
                        <span class="match-name">{{first_match}}:</span> 
                        <span class="contact-option">
                            <span class="emoji" alt="Phone">&#128222;</span>
                            {{first_phone}}
                        </span>
                    </p>
                    <p class="match">
                        <span class="match-name">{{second_match}}:</span> 
                        <span class="contact-option">
                            <span class="emoji" alt="Phone">&#128222;</span>
                            {{second_phone}}
                        </span>
                    </p>
                    <p class="match">
                        <span class="match-name">{{third_match}}:</span> 
                        <span class="contact-option">
                            <span class="emoji" alt="Phone">&#128222;</span> 
                            {{third_phone}}
                        </span>
                    </p>
                </div>

            </div>

        </div>
    </body>
</html>